/*css allows inheritance, you can specify the body element below to indicate for the whole body*/
/*inheritance only happens when there is no overriding elements in the child element*/
body {
    font-family: Helvetica, serif;
    font-size: 20px;
    background-image: url(galaxy.jpg);
    color: lightpink;

}
h1, h2, h3 {
    background-color: beige;
    /*only the bottom of the border is visible*/
    /*2px indicates the weight of the border line*/
    /*border-bottom: 2px solid black;*/
    /*if you want a box covering the header use border*/
    border: 2px solid black;
    font-style: oblique;
}
/*in order to indicate different factor for different section but with the same element,
we define class/tag to indicate the difference*/
/*the class-name can be used for different element at the same time*/
/*one element can use multiple class-name*/
.darkred {
    color: darkred;
    /*the %-relative measure unit referring to the font-size indicated in the body*/
    font-size: 150%
}
.blue {
    color: blue;
}
.underline {
    text-decoration: underline
}
.under_overline {
    text-decoration: underline overline
}
p {
    /*em means it will take the font-size in body then times 1.1 */
    font-size: 1.1em;
    /*The browser will load the font Ubuntu first, if it cannot find, then load the second font and so on*/
    /*if it cannot find any font, then use the default font*/
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    /*add space between lines*/
    line-height: 1.5em
}

/*there are 4 modes of font weight*/
.light {
    font-weight: lighter;
}
.normal {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.bolder {
    font-weight: bolder;
}
.background {
    background-color: yellow;
    /*padding indicated the thickness of the box covering around the entity*/
    /*padding top-right-bottom-left*/
    padding: 20px 30px 20px 30px;
    /*can combine into 1 element which we can indicate multiple different properties we want*/
    border: solid thick black;
    border-radius: 10px;
    margin: 20px
}
.imegec {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
    border: crimson 5px double;
}
.cloud_background{
    color: antiquewhite;
    border: thick solid black;
    font-style: oblique;
    /*the %-relative measure unit referring to the font-size indicated in the body*/
    font-size: 150%;
    padding: 20px;
}
/*states indicate the state of the link, can be visited, hovered*/
a:link {
    color: darkblue;
}
a:visited {
    color: coral;
}
a:hover {
    color: crimson;
}
.div_para1 {
    background-color: aquamarine;
    color: crimson;
    width: 300px;
    float: left;
}
.div_para2 {
    background-color: salmon;
    color: darkslategray;
    width: 300px;
    float: right;
}
.inline {
    color: red;
    font-size: 20px;
}
.div_centre {
    margin-left: auto;
    margin-right: auto;
}